In [7]:
import pandas as pd 
import pyarrow.parquet as pq
from time import time
from sqlalchemy import create_engine

In [4]:
file = pq.ParquetFile('green_tripdata_2019-10.parquet')
table = file.read()
table.schema

VendorID: int64
lpep_pickup_datetime: timestamp[us]
lpep_dropoff_datetime: timestamp[us]
store_and_fwd_flag: string
RatecodeID: double
PULocationID: int64
DOLocationID: int64
passenger_count: double
trip_distance: double
fare_amount: double
extra: double
mta_tax: double
tip_amount: double
tolls_amount: double
ehail_fee: null
improvement_surcharge: double
total_amount: double
payment_type: double
trip_type: double
congestion_surcharge: double
-- schema metadata --
pandas: '{"index_columns": [], "column_indexes": [], "columns": [{"name":' + 2608

In [5]:
df = table.to_pandas()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 476386 entries, 0 to 476385
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               476386 non-null  int64
 1   lpep_pickup_datetime   476386 non-null  datetime64[us]
 2   lpep_dropoff_datetime  476386 non-null  datetime64[us]
 3   store_and_fwd_flag     387007 non-null  object
 4   RatecodeID             387007 non-null  float64
 5   PULocationID           476386 non-null  int64
 6   DOLocationID           476386 non-null  int64
 7   passenger_count        387007 non-null  float64
 8   trip_distance          476386 non-null  float64
 9   fare_amount            476386 non-null  float64
 10  extra                  476386 non-null  float64
 11  mta_tax                476386 non-null  float64
 12  tip_amount             476386 non-null  float64
 13  tolls_amount           476386 non-null  float64
 14  ehail_fee              0 non-null       object
 15  improvement_surcharge  476386 non-null  float64
 16  total_amount           476386 non-null  float64
 17  payment_type           387007 non-null  float64
 18  trip_type              387005 non-null  float64
 19  congestion_surcharge   387007 non-null  float64
dtypes: datetime64[us](2), float64(13), int64(3), object(2)
memory usage: 72.7+ MB

In [8]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [9]:
# Insert values into the table 
t_start = time()
count = 0
for batch in file.iter_batches(batch_size=100000):
    count+=1
    batch_df = batch.to_pandas()
    print(f'inserting batch {count}...')
    b_start = time()
    
    batch_df.to_sql(name='ny_taxi_data',con=engine, if_exists='append')
    b_end = time()
    print(f'inserted! time taken {b_end-b_start:10.3f} seconds.\n')
    
t_end = time()   
print(f'Completed! Total time taken was {t_end-t_start:10.3f} seconds for {count} batches.')

inserting batch 1...
inserted! time taken     13.107 seconds.

inserting batch 2...
inserted! time taken     11.500 seconds.

inserting batch 3...
inserted! time taken     12.969 seconds.

inserting batch 4...
inserted! time taken     10.813 seconds.

inserting batch 5...
inserted! time taken      9.808 seconds.

Completed! Total time taken was     58.309 seconds for 5 batches.

In [10]:
lookup_df = pd.read_csv("taxi_zone_lookup.csv")
lookup_df.to_sql(name='taxi_zone_lookup',con=engine, if_exists='replace')

265