In [1]:
import pandas as pd 
from sqlalchemy import create_engine

In [2]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

# Question 3

In [3]:
pd.read_sql(
    """
    SELECT
        COUNT(*)
    FROM
        ny_taxi_data
    WHERE
        trip_distance <= 1
        AND lpep_pickup_datetime >= '2019-10-01'
        AND lpep_dropoff_datetime < '2019-11-01';
    """,
    engine
)

    count
0  104802

In [4]:
pd.read_sql(
    """
    SELECT
        COUNT(*)
    FROM
        ny_taxi_data
    WHERE
        trip_distance > 1
        AND trip_distance <= 3
        AND lpep_pickup_datetime >= '2019-10-01'
        AND lpep_dropoff_datetime < '2019-11-01';
    """,
    engine
)

    count
0  198924

# Question 4

In [5]:
pd.read_sql(
    """
    SELECT
        lpep_pickup_datetime::DATE,
        MAX(trip_distance) AS trip_distance
    FROM
        ny_taxi_data
    GROUP BY
        lpep_pickup_datetime
    ORDER BY
        trip_distance DESC
    LIMIT
        1;
    """,
    engine
)

  lpep_pickup_datetime  trip_distance
0           2019-10-31         515.89

# Question 5

In [8]:
pd.read_sql(
    """
    SELECT
        t."Zone",
        SUM(n.total_amount) AS total_amount
    FROM
        ny_taxi_data n
        JOIN taxi_zone_lookup t ON n."PULocationID" = t."LocationID"
    WHERE
        lpep_pickup_datetime::DATE = '2019-10-18'::DATE
    GROUP BY
        t."Zone"
    HAVING
        SUM(n.total_amount) > 13000
    ORDER BY
        total_amount DESC
    LIMIT
        3;
    """,
    engine
)

                  Zone  total_amount
0    East Harlem North      18686.68
1    East Harlem South      16797.26
2  Morningside Heights      13029.79

# Question 6

In [10]:
pd.read_sql(
    """
    WITH East_Harlem_North_PU_Zone AS (
        SELECT
            "LocationID"
        FROM
            taxi_zone_lookup
        WHERE
            "Zone" = 'East Harlem North'
    )
    SELECT
        t."Zone",
        MAX(n.tip_amount) AS tip_amount
    FROM
        ny_taxi_data n
        JOIN taxi_zone_lookup t ON n."DOLocationID" = t."LocationID"
    WHERE
        n."PULocationID" = (SELECT "LocationID" FROM East_Harlem_North_PU_Zone)
        AND lpep_pickup_datetime >= '2019-10-01'
        AND lpep_pickup_datetime < '2019-11-01'
    GROUP BY
        t."Zone"
    ORDER BY
        tip_amount DESC
    LIMIT
        1;
    """,
    engine
)

          Zone  tip_amount
0  JFK Airport        87.3